@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CaviarDreams';
    src: url(assets/fonts/CaviarDreams.ttf)
}


@font-face {
    font-family: 'Easvhs';
    src: url(assets/fonts/Easvhs.ttf)
}