.neon-accent {
    color: #fff;
    text-shadow:
        0 0 2px #fff,          /* White shadow */
        0 0 4px #fff,          /* White shadow */
        0 0 6px #7592A1,      /* New accent color shadow */
        0 0 10px #7592A1,     /* New accent color shadow */
        0 0 15px #7592A1,     /* New accent color shadow */
        0 0 20px #7592A1;     /* New accent color shadow */
}

.neon-box {
    color: #fff;
    box-shadow:
        0 0 2px #fff,          /* White shadow */
        0 0 4px #fff,          /* White shadow */
        0 0 6px #7592A1,      /* New accent color shadow */
        0 0 10px #7592A1,     /* New accent color shadow */
        0 0 15px #7592A1,     /* New accent color shadow */
        0 0 20px #7592A1;     /* New accent color shadow */
}

